<VirtualHost *:80>

  ServerName {{ urbackup_domainname }}
  Redirect permanent / https://{{ urbackup_domainname }}/

</VirtualHost>

<IfModule mod_ssl.c>

<VirtualHost *:443>

  ServerName {{ urbackup_domainname }}
  ProxyPreserveHost Off

  SSLEngine on
  SSLProtocol all -SSLv2 -SSLv3
  SSLProxyEngine On
  SSLCertificateFile {{ urbackup_certificate_file }}
  SSLCertificateKeyFile {{ urbackup_certifcate_keyfile }}

  # -- UrBackup server --
  ProxyPass / http://localhost:55414/
  ProxyPassReverse / http://localhost:55414/
  
  ErrorLog ${APACHE_LOG_DIR}/urbackup-error.log
  CustomLog ${APACHE_LOG_DIR}/urbackup-access.log combined
  
</VirtualHost>

</IfModule>
